{% extends 'frontend/main_layout.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block content %}

<div class="container-fluid mt-4">
    <h1>About us</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatibus commodi eius modi dolor ipsam repellat. Culpa quo earum recusandae, veritatis cum iusto delectus ipsum cumque perferendis temporibus expedita ullam ut sint, sequi aspernatur aperiam inventore minus quas magnam voluptatibus aliquid cupiditate, omnis sapiente beatae. Dolor, quae aliquam optio, minus minima deserunt neque exercitationem iure laudantium odio sapiente unde incidunt voluptatibus vel repudiandae nostrum, atque voluptatum quam fugiat quos nisi? Quia deleniti itaque minima? Aspernatur voluptatem culpa repellendus earum itaque numquam officiis magnam non voluptas consequatur voluptatibus assumenda qui, quae, ea minus eveniet reiciendis dicta rem, reprehenderit suscipit dolores! Voluptas.</p>
</div>

{% endblock %}